input[type="text"] {
    display: block;
    margin-top:1%;
    height: auto;
    width: 95%;
    font-size: 110%;
    padding: 1.3%;
}

input[type="submit"] {

    background: #4aaaa5;
    width: 25%;
    padding:2% 1% 2% 1%;
    color: #FFFFFF;
    margin-top: 4%;
    text-align: center;
    font-size: 110%;
    float: left;
    border: none;
}

textarea {
    display: block;
    height: 150px;
    width:97.4%;
}

#contact {
    background: #FFFFFF;
    width: 20%;
    border: 60px #FFFFFF solid;
    float: left;
    margin-left: 23%;
    overflow: hidden;
}
